{
	# genres: directory name => weight
	genres => {
		pop => 50,
		lofi => 10,
		rap => 4,
		misc => 0.1,
	},

	control_filename => 'control.json',

	# silence - amount of time to broadcast silence
	silence_duration => 60,
	silence_chance => 0.5,

	# genre => [chance, tones_down]
	slowed_genres => {
		pop => [0.9, 3],
		rap => [0.8, 3],
		lofi => [0.3, 3],
		misc => [0.3, 3],
	},
}
